<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>
<section class="user-container">
    <section class="attributes">
        <h2>Registered Applications</h2>
        <table>
            <thead>
            <tr>
                <th>App Name</th>
                <th>Entity ID</th>
                <th>Base URL</th>
                <th>ACS Path</th>
                <th>SLO Path</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="app : ${apps}">
                <td th:text="${app.name}"></td>
                <td th:text="${app.entity_id}"></td>
                <td th:text="${app.baseUrl}"></td>
                <td th:text="${app.acsLocationPath}"></td>
                <td th:text="${app.sloLocationPath}"></td>
            </tr>
            </tbody>
        </table>

        <h2>Register New Application</h2>
        <form onsubmit="registerApp(event)">
            <table>
                <tr>
                    <td><label for="appName">Application Name:</label></td>
                    <td><input type="text" id="appName" name="appName" required/></td>
                </tr>
                <tr>
                    <td><label for="entityId">Entity ID:</label></td>
                    <td><input type="text" id="entityId" name="entityId" required/></td>
                </tr>
                <tr>
                    <td><label for="baseUrl">Base URL:</label></td>
                    <td><input type="url" id="baseUrl" name="baseUrl" required/></td>
                </tr>
                <tr>
                    <td><label for="acsPath">ACS Path:</label></td>
                    <td><input type="text" id="acsPath" name="acsPath" required/></td>
                </tr>
                <tr>
                    <td><label for="sloPath">SLO Path:</label></td>
                    <td><input type="text" id="sloPath" name="sloPath" required/></td>
                </tr>
            </table>
            <p></p>
            <button type="submit" class="button">Register Application</button>
        </form>

        <p></p>
        <a class="button" th:href="@{/platform.html}">Back to Admin Page</a>
    </section>
</section>
</html>