<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>
<section class="user-container">
    <section class="attributes">
        <h1>Mujina Identity Provider</h1>
        <a class="button" th:href="@{/logout}">Logout</a>
        <p>The following information is stored in your authentication</p>
        <ul>
            <li>Name</li>
            <li th:text="${user.name}"></li>
        </ul>
        <ul>
            <li>Email</li>
            <li th:text="${user.email}"></li>
        </ul>
<!--        <ul th:each="authority : ${user.authorities}">-->
<!--            <li>Authority</li>-->
<!--            <li th:text="${authority}"></li>-->
<!--        </ul>-->
        <h2>All Users</h2>
        <form action="#" th:action="@{/modifyAuthorities}" method="post">
            <table>
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Authorities</th>
                    <th>Add Authorities</th>
                    <th>Delete Authorities</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.name}"></td>
                    <td>
                        <ul>
                            <li th:each="authority : ${user.authorities}" th:text="${authority}"></li>
                        </ul>
                    </td>
                    <td>
                        <input type="text" th:name="'addAuthority_' + ${user.name}"/>
                    </td>
                    <td>
                        <input type="text" th:name="'delAuthority_' + ${user.name}"/>
                    </td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="confirm-button">Confirm Changes</button>
        </form>
        <section class="powered-by">
            <a href="https://openconext.org/" target="_blank" rel="noreferrer noopener">Copyright © 2018 OpenConext</a>
        </section>
    </section>
</section>
</html>
