<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Service Provider</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>
<body>
<section class="login-container-wrapper">
    <section class="login-container">
        <section class="attributes">
            <h1>Mock Service Provider</h1>
            <a id="user-link" class="button" th:href="@{/logout}">Logout</a>
            <p>Welcome, <span th:text="${user.nameID}"></span>!</p>
            <p>Your roles: <span th:text="${authorities}"></span></p>
            <p th:if="${#lists.size(authorities) > 1}">Here are the pages you can visit:</p>
<!--            <p>The following attributes were provided by your identity provider:</p>-->
<!--            <ul>-->
<!--                <li th:text="${user.nameIDType}"></li>-->
<!--                <li th:text="${user.nameID}"></li>-->
<!--            </ul>-->
<!--            <ul th:each="attr : ${user.attributes}">-->
<!--                <li th:text="${attr.name}"></li>-->
<!--                <li th:text="${attr.value}"></li>-->
<!--            </ul>-->
            <!-- Conditional buttons based on user roles -->
            <div>
                <a class="button" th:if="${authorities.?[authority == 'ROLE_1'].size() > 0}" th:href="@{/page1.html}">See role1 page</a>
                <a class="button" th:if="${authorities.?[authority == 'ROLE_2'].size() > 0}" th:href="@{/page2.html}">See role2 page.</a>
            </div>
        </section>
<!--        <a class="powered-by" href="https://openconext.org/" target="_blank">Copyright © 2018 OpenConext</a>-->
    </section>
</section>
</body>
</html>
